﻿@using KalbeTest.datamodels
@model TblProduk
@{
    //Layout = null;
    ViewData["Title"] = "Detail Produk Kalbe";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        
          <div class="mb-4 row a">
            <label for="NameCategory" class="col-sm-4 col-form-label">Product Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.ProductCode" readonly>
              <span id="validate_NameCategory" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Product Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.ProductName" readonly>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Quantity" readonly>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.Price" readonly>
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              
              <a class="btn btn-light" asp-controller="Produk" asp-action="Index">Back To List</a>
            </div>
          </div>
        </>

    </div>
</div>
