﻿@using KalbeTest.datamodels
@model TblProduk
@{
    //Layout = null;
    ViewData["Title"] = "Edit Produk Kalbe";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
		  <div class="mb-4 row a">
            <label for="ProductCode" class="col-sm-4 col-form-label">Product Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ProductCode" name="ProductCode" value="@Model.ProductCode" readonly>
            </div>
          </div>

          <div class="mb-4 row a">
            <label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="ProductName" name="ProductName" value="@Model.ProductName">
              <span id="validate_ProductName" class="text-danger"></span>
            </div>
          </div>


          <div class="mb-4 row">
            <label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity">
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="Price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Produk" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			ProductName: {
				required: true,
				minlength: 5,
			},
			Quantity:{
				required: true,
				number: true
			},
			Price:{
				required: true,
				number: true
			}
		},
		messages: {
			ProductName: {
				required: "Please fill Product Name",
				minlength: "the name must consist of at least 5 characters",
			},
			Quantity:{
				required: "please fill Quantity",
				number: "please fill number only"
			},
			Price:{
				required: "please fill Quantity",
				number: "please fill number only"
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			

			$.ajax({
			url: "/Produk/Edit",
			type: "POST",
			dataType: "json",
			data: dataForm,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					//Toast.fire({
					//    icon: "Failed",
					//    title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
			
		}
	})

	


</script>