﻿@using KalbeTest.datamodels
@using KalbeTest.viewmodels;
@model VMTblPenjualan
@{
    ViewData["Title"] = "Detail Penjualan kalbe";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
            
            <div class="mb-4 row">
                <label for="CustomerId" class="col-sm-4 col-form-label">Date Order</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="CustomerId" name="CustomerId" value="@Model.CustomerName" readonly>
                </div>
             </div>

            <div class="mb-4 row">
                <label for="ProductId" class="col-sm-4 col-form-label">Date Order</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ProductId" name="ProductId" value="@Model.ProductName" readonly>
                </div>
             </div>

             <div class="mb-4 row">
                <label for="DateOrder" class="col-sm-4 col-form-label">Date Order</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="DateOrder" name="DateOrder" value="@Model.DateOrder.ToString("dd-MM-yyyy")" readonly>
                </div>
             </div>

            <div class="mb-4 row">
                <label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity" readonly>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">

                    <a class="btn btn-light" asp-controller="Penjualan" asp-action="Index">Back</a>
                </div>
            </div>
    </div>
</div>