﻿
@using KalbeTest.datamodels
@model TblCustomer
@{
    //Layout = null;
    ViewData["Title"] = "Detail Customer Kalbe";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        
          <div class="mb-4 row a">
            <label for="CustomerName" class="col-sm-4 col-form-label">Customer Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="CustomerName" name="CustomerName" value="@Model.CustomerName" readonly>
              <span id="validate_NameCategory" class="text-danger"></span>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Customer Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="Description" name="Description" value="@Model.CustomerAddress" readonly>
            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-8">
                @if(@Model.Gender == true)
                {
                    <input type="text" class="form-control" id="Gender" name="Gender" value="Laki-laki" readonly>
                }
                else
                {
                    <input type="text" class="form-control" id="Gender" name="Gender" value="Perempuan" readonly>
                }

            </div>
          </div>

          <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="TanggalLahir" name="TanggalLahir" value="@Model.TanggalLahir.ToString("dd-MM-yyyy")" readonly>
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              
              <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back To List</a>
            </div>
          </div>
        </>

    </div>
</div>
