﻿@using KalbeTest.datamodels
@model TblCustomer
@{
    //Layout = null;
    ViewData["Title"] = "Edit Customer Kalbe";

}
<div class="card">
    <div class="card-body">
        <h2 class="display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
		  <div class="mb-4 row a">
            <label for="CustomerName" class="col-sm-4 col-form-label">Customer Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="CustomerName" name="CustomerName" value="@Model.CustomerName">
            </div>
          </div>

          <div class="mb-4 row a">
            <label for="CustomerAddress" class="col-sm-4 col-form-label">Customer Address</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="CustomerAddress" name="CustomerAddress" value="@Model.CustomerAddress">
              <span id="validate_ProductName" class="text-danger"></span>
            </div>
          </div>


          <div class="mb-4 row">
            <label for="Gender" class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-8">
              <select class="form-control" id="Gender" name="Gender">
				  <option value="">--Pilih Gender--</option>
				  @if(@Model.Gender == false)
				  {
					  <option value="false" selected>Perempuan</option>
					  <option value="true">Laki-laki</option>
				  }
				  else
				  {
					  <option value"false">Perempuan</option>
					  <option value"true" selected>Laki-laki</option>
				  }

			  </select>
            </div>
          </div>

		  <div class="mb-4 row">
            <label for="TanggalLahir" class="col-sm-4 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-8">
              @Html.TextBoxFor(
				  model => model.TanggalLahir,
				  "{0:yyyy-MM-dd}",
				  new {
					  @type = "date",
					  @class = "form-control",
					  @value = Model.TanggalLahir
				  }
			  )
            </div>
          </div>
 
          <div class="mb-4 row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back To List</a>
            </div>
          </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			CustomerName: {
				required: true,
				minlength: 5,
			},
			CustomerAddress:{
				required: true,
			},
			Gender: "required",
			TanggalLahir: "required"
		},
		messages: {
			CustomerName: {
				required: "Please fill Customer Name",
				minlength: "the name must consist of at least 5 characters",
			},
			CustomerAddress:{
				required: "please fill Customer Address",

			},
			Gender: "Please select Gender",
			TanggalLahir: "please selcet tanggal lahir"
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			

			$.ajax({
			url: "/Customer/Edit",
			type: "POST",
			dataType: "json",
			data: dataForm,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					//Toast.fire({
					//    icon: "Failed",
					//    title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
			
		}
	})

	


</script>

